In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("daggett.csv", skiprows=2)
cols = filter(lambda x: 'Unnamed' in x, df.columns)
df.drop(cols, inplace=True, axis=1)

In [17]:
df[df.Month == 3].Temperature.describe()

count    744.000000
mean      11.119624
std        6.623539
min       -1.000000
25%        6.000000
50%       10.000000
75%       16.000000
max       28.000000
Name: Temperature, dtype: float64

In [19]:
df.groupby('Month').DNI.describe()

       count        mean         std  min  25%    50%     75%     max
Month
1      744.0  234.673387  353.094403  0.0  0.0    0.0  462.25   982.0
2      672.0  252.928571  367.962304  0.0  0.0    0.0  578.00   987.0
3      744.0  304.641129  379.000426  0.0  0.0    0.0  693.00  1000.0
4      720.0  348.770833  397.380265  0.0  0.0   13.5  814.25   975.0
5      744.0  389.337366  404.822990  0.0  0.0  269.5  843.50  1015.0
6      720.0  417.405556  398.816486  0.0  0.0  411.5  847.25  1005.0
7      744.0  372.569892  391.129128  0.0  0.0  248.5  802.75  1009.0
8      744.0  362.198925  396.433102  0.0  0.0  140.0  804.50  1008.0
9      720.0  355.036111  405.637878  0.0  0.0    0.0  821.25   983.0
10     744.0  312.778226  389.886660  0.0  0.0    0.0  749.25   981.0
11     720.0  260.223611  376.599076  0.0  0.0    0.0  657.25   977.0
12     744.0  220.002688  342.749786  0.0  0.0    0.0  445.75   979.0

In [21]:
set(df.Year)

{1998, 1999, 2006, 2008, 2009, 2011, 2012, 2013, 2014}

In [22]:
df["Year"] = [2019 for row in df["Year"]]

In [23]:
df["DT"] = pd.to_datetime( df[["Year", "Month", "Day", "Hour", "Minute"]] )

In [25]:
df.set_index(df.DT, inplace=True, drop=True)